#navbar{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height:50px;
    width:128px;
    background-image: url(amazon.jpg) ;
    background-size: cover;
}
.locationlogo{
    height:18;
    width:15; 
    align-self: center;
    display: flex;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid green;
}
.location{
    font-size:12px ;
    font-weight: 400;
    color: white;
    align-self: center;
}
.india{
    font-size:  14px;
    font-weight: 700;

}
.searchbar{
    border-radius:4px ;

    background-color: white;
    height: 40px;
    width:423px;
    align-self: center;
    font-size: 38px;
    display: flex;
    justify-content: space-evenly;

  

}
.searchbox{
    width:100%;
 
    
}
.opt{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
}
.searchicon{
    height:40px;
    width:45px;
    background-color: orange;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.hello{
    width:113px;
    font-size: 14px;
    color: white;
}
.account{
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.return{
    width:113px;
    font-size: 14px;
    color: white;
}
.order{
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.cart i{
font-size: 28px;
}
.cart{
    display: flex;
    font-size: 15px;

    color: white;
  
}
.panel{
    height: 39px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
}
.menu i{
    font-size: 17px;
     
  }
.menu{
   font-size: 12px;
   font-weight: 400;
    color: white;
    display: flex;
}

.rest{
   width:100%;
    color: white;
    display: flex;
}
.panel-ops p{
    display: inline;
    margin-left: 10px;
}
.panel-ops{
    width:70%;
}
.deal{
    font-weight: 500;
}

.hero-section{
    background-image: url("amazon1.jpg");
   justify-content: center;
   background-size: cover;
   display: flex;
   height: 350px;
}
.hero-msg{
    height: 40px;
    width: 80%;
    background-color: white;
   font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 300px;

}
.shop-section{
display: flex;
justify-content: space-evenly;
background-color: #e2e7e6;
}
.box{
    display: inline;
    width:23%;
    height: 400px;
    background-color:white;
}
.box3img{
    height:300px;
    background-image: url("gameacc.jpg");
    background-size: cover;
}
.box2img{
    height:300px;
    background-image: url("toy.jpg");
    background-size: cover;
}
.box1img{
    height:300px;
    background-image: url("2.jpg");
    background-size: cover;
}
.box4img{
    height:300px;
    background-image: url("4.jpg");
    background-size: cover;
}
